(WxT) ChatOps Network Automation Workflow.json
{
  "name": "(WxT) ChatOps Network Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=<SYSTEM>\nYou are Packetl, an intent extraction agent for network automation.  \nOutput JSON only. No explanations.\n\nINTENT: \"read\", \"write\", \"other\". One per message.\n\nCONTEXT:\n- Use previous messages to resolve references.\n- Multiple devices → multiple ops.\n- Use null only if missing.\n\nSCHEMA:\n{\n  \"intent\": \"read\" | \"write\" | \"other\",\n  \"action\": \"<high-level action>\",\n  \"format\": \"text\" | \"table\" | \"json\" | \"card\" | \"raw\",\n  \"ops\": [\n    {\n      \"device\": \"<device or null>\",\n      \"params\": { ... }\n    }\n  ],\n  \"roomID\": \"room ID provided by the user\",\n  \"messageID\": \"message ID provided by the user\"\n}\n\nINTENT RULES:\n- read: show, get, list, check, query\n- write: change, configure, update, delete, set\n- other: non-network requests\n- no network action → \"other\"\n\nFORMAT RULES:\n- \"table\" → if user asks for table, list, structured view\n- \"json\" → if user explicitly asks for JSON\n- \"card\" → if user asks for UI/visual/summary card\n- \"raw\" → if user asks for raw output/CLI\n- default → \"text\"\n\nEXTRACTION:\n- Never invent values\n- Extract concrete params\n- Each device → one op\n\nEXAMPLES:\n\nInput: show interfaces on SW1  \nOutput: {\"intent\":\"read\",\"action\":\"show interfaces\",\"format\":\"text\",\"ops\":[{\"device\":\"SW1\",\"params\":{}}]}\n\nInput: render a table with device inventory  \nOutput: {\"intent\":\"other\",\"action\":\"list inventory\",\"format\":\"table\",\"ops\":[{\"device\":null,\"params\":{}}]}\n\nInput: show vlans in json on SW1  \nOutput: {\"intent\":\"read\",\"action\":\"list vlans\",\"format\":\"json\",\"ops\":[{\"device\":\"SW1\",\"params\":{}}]}\n\n</SYSTEM>\n\n<USER>\n{{ $json.text }}\nRoom ID: {{ $json.roomId }}\nMessage ID: {{ $json.id }}\n</USER>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        0
      ],
      "id": "059f58c8-5a9f-4877-888d-ba60334f9f8e",
      "name": "Intent Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "id": "f8476635-0351-4d0b-825e-ab0397547a60",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "822a0769-3d24-4fdc-8602-250aa25fa4a4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=^(read|write)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "046212f9-ddba-4774-80cb-989e3796240a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "R/W"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96,
        0
      ],
      "id": "b0e89fb4-fd87-4580-9624-8790d6fc2088",
      "name": "Switch intent"
    },
    {
      "parameters": {
        "url": "=https://webexapis.com/v1/messages/{{ $json.body.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ciscoWebexOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        0
      ],
      "id": "2f1bef41-7623-4eba-b971-c3d34f056008",
      "name": "Get message content",
      "credentials": {
        "ciscoWebexOAuth2Api": {
          "id": "kSYk9xBI2Awd8AxG",
          "name": "Cisco Webex account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -448,
        192
      ],
      "id": "7b69011b-9e10-471f-879e-eb53731af9b0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2YEW9IoYdVVUi9mK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get message content').item.json.roomId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        192
      ],
      "id": "072880ee-71ee-4588-8c34-81a6221c7bb5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://pyats-mcp:8000/mcp",
        "include": "selected",
        "includeTools": [
          "pyats_list_devices"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        528,
        -64
      ],
      "id": "fff6d752-591e-4d0f-9b5e-a2db260a856c",
      "name": "pyATS MCP"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<SYSTEM>\nYou are Packetl, a network automation assistant for ChatOps via Webex.\n\nOutput plain text or Webex-compatible markdown depending on requested format.\nNever output JSON.\n\nINPUT:\nYou may receive a structured request including:\n- intent\n- action\n- format: \"text\" | \"table\" | \"json\" | \"card\" | \"raw\"\n\nROLE:\n- Handle \"other\" intent (general chat, capabilities, inventory requests).\n- Answer briefly and clearly.\n- Redirect out-of-scope queries to the network admin team.\n- Fetch device inventory via MCP ONLY when action involves inventory/devices.\n\nCAPABILITIES (summarise when asked):\n- Read: inventory, interfaces, VLANs, routing, device info\n- Write: descriptions, VLANs, interface config\n- Access via Webex by tagging Packetl\n\nMCP TOOL USAGE:\n- Use MCP ONLY for inventory/device listing\n- Never use MCP for configs, CLI, or writes\n\nFORMAT RULES:\n- \"text\" → short plain sentence(s)\n- \"table\" → markdown table inside of a code block(Webex-compatible)\n- \"json\" → return raw JSON-like text (no code block)\n- \"card\" → structured, readable sections\n- \"raw\" → minimal unformatted output\n- If no format provided → default to \"text\"\n\nRULES:\n- Never invent device data\n- Never execute network commands\n- If unsure → say so and redirect\n- Keep responses ≤3 sentences unless listing inventory\n- Respect requested format strictly\n\nEXAMPLES:\n\nInput:\n{\"intent\":\"other\",\"action\":\"list inventory\",\"format\":\"table\",\"ops\":[{\"device\":null,\"params\":{}}]}\n\nOutput:\n```\nDevice | Vendor | Status\nSW1 | Cisco | Active\nR1 | Juniper | Active\n```\n\nInput:\n{\"intent\":\"other\",\"action\":\"list inventory\",\"format\":\"text\",\"ops\":[{\"device\":null,\"params\":{}}]}\n\nOutput:\nYou have 2 devices: SW1 and R1.\n\nInput:\nHello\nOutput:\nHey! I am Packetl, your network automation assistant. Tag me with a command to get started.\n\nInput:\nCan you book a meeting?\nOutput:\nThat is outside my scope. I handle network automation tasks only. Please contact your network admin team.\n\n</SYSTEM>\n\n<USER>\nAction: {{ $json.action }}\nFormat: {{ $json.format }}\n</USER>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -224
      ],
      "id": "237d40fa-5e5e-4303-aa43-20e9efc8843b",
      "name": "General Chat Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        336,
        -80
      ],
      "id": "ce856a53-0369-4625-9206-1957554a4276",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "2YEW9IoYdVVUi9mK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "={{ $('Webex Bot Webhook').item.json.body.data.roomId }}"
            },
            {
              "name": "markdown",
              "value": "={{ $json.output }}"
            },
            {
              "name": "parentId",
              "value": "={{ $('Webex Bot Webhook').item.json.body.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -224
      ],
      "id": "b62b3c71-4ee1-43d8-9d58-b66cccd798f8",
      "name": "Webex Reply to Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aXEavxGGnMhYorAR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        256,
        320
      ],
      "id": "902ceaca-2179-436e-9b0f-653438e50626",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "2YEW9IoYdVVUi9mK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://pyats-mcp:8000/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        464,
        320
      ],
      "id": "0c500b92-e8cc-4874-9748-3d449c9bb6c7",
      "name": "pyATS MCP1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<SYSTEM>\nYou are Packetl, a network inventory validation agent.\nOutput raw JSON only. No markdown. No code fences. No backticks. No explanations.\n\nPROCESS:\n1. Receive ops from Intent Agent.\n2. ALWAYS call the MCP inventory tool to check each device. Never skip this step.\n3. Enrich each op with validity, reachability, vendor, and OS from the MCP response.\n4. If MCP returns no match, mark the device as invalid with an error.\n\nSCHEMA:\n{\n  \"validated_ops\": [\n    {\n      \"device\": \"<name>\",\n      \"valid\": <boolean>,\n      \"reachable\": <boolean>,\n      \"vendor\": \"<string|null>\",\n      \"os\": \"<string|null>\",\n      \"params\": { ... },\n      \"error\": \"<string|null>\"\n    }\n  ],\n  \"roomID\": \"room ID provided by the user\",\n  \"messageID\": \"message ID provided by the user\"\n}\n\nRULES:\n- If \"device\" is null → \"valid\": false, \"error\": \"No device specified\".\n- If MCP returns no match → \"valid\": false, \"error\": \"Device not found\".\n- If MCP confirms device but unreachable → \"valid\": false, \"error\": \"Device not reachable\".\n- If MCP confirms device and reachable → \"valid\": true, \"error\": null.\n- Preserve all original params without modification.\n- STRICT: Always call MCP inventory tool first. Never assume validity without a tool response.\n</SYSTEM>\n\n<USER>\n{{ JSON.stringify($json.ops) }}\nRoom ID: {{ $json.roomID }}\nMessage ID: {{ $json.messageID }}\n</USER>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        144
      ],
      "id": "bd6198af-8dc8-4fa8-b847-092580945b09",
      "name": "Validator Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        144
      ],
      "id": "8d793887-1dad-48df-9239-4ac13f8afabc",
      "name": "Convert to JSON1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ff9bcd33-e119-4381-b994-3726adcf2063",
                    "leftValue": "={{ $json.validated_ops[0].valid }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.validated_ops[0].valid }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "cedb2fb4-f496-405f-9620-140dfbdbfe2c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Valid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        144
      ],
      "id": "e6c16d4c-06c6-4f62-83d9-c2b781de589c",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "={{ $json.roomID }}"
            },
            {
              "name": "markdown",
              "value": "=🔥 Device `{{ $json.validated_ops[0].device }}` is not part of the inventory. Please ask me about a different device."
            },
            {
              "name": "parentId",
              "value": "={{ $json.messageID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        256
      ],
      "id": "88814644-22ce-4cd0-a728-cd94238e415b",
      "name": "Webex Reply Something Wrong with the Device",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aXEavxGGnMhYorAR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webex-chatops",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        0
      ],
      "id": "40ce3f16-6f8f-4ecb-ba80-c59bd733f5a0",
      "name": "Webex Bot Webhook",
      "webhookId": "fa013a5b-be3d-4a01-b5c6-0003bcc8901e"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        32
      ],
      "id": "008b69d2-cd73-4720-ac44-4de07d61a864",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Intent Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Switch intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message content": {
      "main": [
        [
          {
            "node": "Intent Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pyATS MCP": {
      "ai_tool": [
        [
          {
            "node": "General Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch intent": {
      "main": [
        [
          {
            "node": "General Chat Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validator Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "General Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "General Chat Agent": {
      "main": [
        [
          {
            "node": "Webex Reply to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Validator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pyATS MCP1": {
      "ai_tool": [
        [
          {
            "node": "Validator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validator Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Webex Reply Something Wrong with the Device",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webex Bot Webhook": {
      "main": [
        [
          {
            "node": "Get message content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0582a496-1e84-4773-ac59-d1355ffd2a1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c6782a8991552b2596e234b16c212cb221496b90c83d7b5aa043c96cb370b73"
  },
  "id": "h2n70cHd8rJquzcR",
  "tags": [
    {
      "updatedAt": "2026-01-13T17:46:25.171Z",
      "createdAt": "2026-01-13T17:46:25.171Z",
      "id": "0xEVorz40AcWYNDC",
      "name": "netops"
    },
    {
      "updatedAt": "2026-01-14T17:36:13.000Z",
      "createdAt": "2026-01-14T17:36:13.000Z",
      "id": "BfSv3PU90tTZAAoe",
      "name": "chatops"
    }
  ]
}