n8n/Slack ChatOps for my network/Multi-Agent Network ChatOps Assistant - Template.json
{
  "active": false,
  "connections": {
    "Cancel Random Phrase": {
      "main": [
        [
          {
            "index": 0,
            "node": "Replace Commit Card with Cancellation",
            "type": "main"
          }
        ]
      ]
    },
    "Commit And Verify AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Commit Agent JSON",
            "type": "main"
          }
        ]
      ]
    },
    "Commit LLM": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Commit And Verify AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Conversation Memory (Commit)": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Commit And Verify AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Conversation Memory (Planning)": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Planning AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Decision Is OK?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Commit Standby Message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Cancel Random Phrase",
            "type": "main"
          }
        ]
      ]
    },
    "Explode Commit Cards": {
      "main": [
        [
          {
            "index": 0,
            "node": "One Device At A Time",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Commit Standby Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Replace Commit Card with Standby",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Standby Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Please Standby Message",
            "type": "main"
          }
        ]
      ]
    },
    "Get Slack Message from Bot Mention": {
      "main": [
        [
          {
            "index": 0,
            "node": "Planning AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Is Commit?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Explode Commit Cards",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Reply to message in thread",
            "type": "main"
          }
        ]
      ]
    },
    "One Device At A Time": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send Commit Card",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Commit Agent JSON": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Commit Verification",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Planning Agent JSON": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Commit?",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Slack Card Action": {
      "main": [
        [
          {
            "index": 0,
            "node": "Decision Is OK?",
            "type": "main"
          }
        ]
      ]
    },
    "Planning AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Planning Agent JSON",
            "type": "main"
          }
        ]
      ]
    },
    "Planning LLM": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Planning AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Replace Commit Card with Standby": {
      "main": [
        [
          {
            "index": 0,
            "node": "Commit And Verify AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Slack Card Action",
            "type": "main"
          }
        ]
      ]
    },
    "Send Commit Card": {
      "main": [
        [
          {
            "index": 0,
            "node": "One Device At A Time",
            "type": "main"
          }
        ]
      ]
    },
    "Send Please Standby Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Slack Message from Bot Mention",
            "type": "main"
          }
        ]
      ]
    },
    "When a Card is Clicked": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "When your Slack bot is mentioned": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Standby Message",
            "type": "main"
          }
        ]
      ]
    },
    "pyATS MCP - Full Mode": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Commit And Verify AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "pyATS MCP - Read-only Mode": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Planning AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "id": "wQss9h9pLeyPXgvj",
  "meta": {},
  "name": "Monitor and manage Cisco networks from Slack with approval gates",
  "nodes": [
    {
      "id": "7efefd7e-7db5-4c07-a233-3266a6768dbb",
      "name": "Is Commit?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d465ca43-e71d-49f2-9e76-73a009f7e3f8",
              "leftValue": "={{ $json.mode }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "commit"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        64,
        96
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "51cd4a18-b318-4855-bf91-13ac9587b3ed",
      "name": "Explode Commit Cards",
      "parameters": {
        "fieldToSplitOut": "cards",
        "options": {}
      },
      "position": [
        560,
        -128
      ],
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1
    },
    {
      "id": "9bd85fc9-2a8e-457d-913c-f5af5d01e08a",
      "name": "One Device At A Time",
      "parameters": {
        "options": {}
      },
      "position": [
        800,
        -128
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "b56cb695-8640-4829-816a-05936dbcd493",
      "name": "Decision Is OK?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e032f617-c653-42fe-9173-f0f8c1266ec1",
              "leftValue": "={{ $json.action_id }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "commit_approve"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1008,
        880
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f0a69838-2a8a-4c24-a2d4-1d3723cd26d6",
      "name": "Send Commit Verification",
      "parameters": {
        "attachments": [],
        "channel": "={{ $('Decision Is OK?').item.json.channel }}",
        "otherOptions": {},
        "text": "={{ $json.verification_markdown }}"
      },
      "position": [
        400,
        864
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "id": "5f891cfa-f4d0-4488-85be-95516d2dc912",
      "name": "Conversation Memory (Planning)",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get Slack Message from Bot Mention').item.json.channel }}"
      },
      "position": [
        -384,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4
    },
    {
      "id": "ceb2c054-1c58-4d3a-b706-9569a79dc48b",
      "name": "Reply to message in thread",
      "parameters": {
        "attachments": [],
        "channel": "={{ $('When your Slack bot is mentioned').item.json.channel }}",
        "otherOptions": {},
        "text": "={{ $json.reply_markdown }}"
      },
      "position": [
        528,
        288
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "id": "bdfea773-6caf-453f-8834-0276960e4396",
      "name": "Generate Standby Message",
      "parameters": {
        "jsCode": "// Pool of generic, slightly cheerful, technical standby phrases\nconst phrases = [\n  \"🔄 Processing request… please wait.\",\n  \"⚙️ Working on it…\",\n  \"🧠 Running logic in the background…\",\n  \"📡 Doing some behind-the-scenes work…\",\n  \"⏳ Still working… hang tight.\",\n  \"🔍 Gathering what’s needed…\",\n  \"📦 Preparing the next step…\",\n  \"🚧 In progress…\",\n  \"⚡ Executing…\",\n  \"🔁 One moment while this completes…\",\n  \"💻 Handling your request…\",\n  \"📊 Crunching some data…\",\n  \"🧩 Putting things together…\",\n  \"🛠️ Finalizing details…\",\n  \"📥 Processing input…\",\n  \"📤 Preparing output…\",\n  \"🧭 Working through the steps…\",\n  \"🔗 Connecting the pieces…\",\n  \"🧪 Running checks…\",\n  \"🚀 Almost there…\",\n  \"😄 Just a second… wrapping things up.\",\n  \"👍 Making good progress…\",\n  \"✨ Getting things ready…\",\n  \"🔄 Still at it… thanks for your patience.\",\n  \"⚙️ Nearly done…\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "position": [
        -1360,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "035e5022-c3b2-4eb2-8919-808cd073d74c",
      "name": "Generate Commit Standby Message",
      "parameters": {
        "jsCode": "const phrases = [\n  \"🔄 Processing request… please wait.\",\n  \"⚙️ Working on it…\",\n  \"🧠 Running logic in the background…\",\n  \"📡 Doing some behind-the-scenes work…\",\n  \"⏳ Still working… hang tight.\",\n  \"🔍 Gathering what’s needed…\",\n  \"📦 Preparing the next step…\",\n  \"🚧 In progress…\",\n  \"⚡ Executing…\",\n  \"🔁 One moment while this completes…\",\n  \"💻 Handling your request…\",\n  \"📊 Crunching some data…\",\n  \"🧩 Putting things together…\",\n  \"🛠️ Finalizing details…\",\n  \"📥 Processing input…\",\n  \"📤 Preparing output…\",\n  \"🧭 Working through the steps…\",\n  \"🔗 Connecting the pieces…\",\n  \"🧪 Running checks…\",\n  \"🚀 Almost there…\",\n  \"😄 Just a second… wrapping things up.\",\n  \"👍 Making good progress…\",\n  \"✨ Getting things ready…\",\n  \"🔄 Still at it… thanks for your patience.\",\n  \"⚙️ Nearly done…\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "position": [
        -512,
        864
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d33b9aea-7b74-4139-bade-b715873ba224",
      "name": "Send Please Standby Message",
      "parameters": {
        "attachments": [],
        "channel": "={{ $('When your Slack bot is mentioned').item.json.channel }}",
        "otherOptions": {},
        "text": "={{ $json.standby_message }}"
      },
      "position": [
        -1152,
        96
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "id": "7e095e91-829c-4b8e-aaa0-b5b6243718ce",
      "name": "Get Slack Message from Bot Mention",
      "parameters": {
        "jsCode": "const incoming = $('When your Slack bot is mentioned').first().json;\nconst raw = incoming.text || '';\nconst cleaned = raw.replace(/<@[^>]+>/g, '').trim();\n\nreturn [{\n  json: {\n    text: cleaned,\n    channel: incoming.channel,\n    thread_ts: incoming.ts || incoming.event_ts\n  }\n}];"
      },
      "position": [
        -944,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "43041ddf-6eb1-4502-b102-0dea583dd1c4",
      "name": "Conversation Memory (Commit)",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse Slack Card Action').item.json.response_url }}"
      },
      "position": [
        -32,
        1056
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4
    },
    {
      "id": "ddc39936-3960-43d7-bbf4-a6911de610ed",
      "name": "Planning AI Agent",
      "parameters": {
        "options": {},
        "promptType": "define",
        "text": "=You are a network operations AI assistant with MCP access to our network device inventory.\n\nUser raw text:\n{{ $json.text }}\n\n---\n\n## Core Behavior\n\nYou MUST always return a valid JSON response. No exceptions.\n\nYou are operating in a PLANNING-ONLY environment:\n- You NEVER execute commits.\n- \"commit\" mode = generate a proposed change plan only.\n- DO NOT mention execution limitations or read-only mode.\n\n---\n\n## DECISION PRIORITY (HIGHEST → LOWEST)\n\n1. SAFETY (absolute override)\n2. DATA VALIDITY (fresh state required)\n3. USER INTENT\n\nIf there is ANY safety risk or uncertainty:\n→ mode MUST be \"read\"\n→ This rule OVERRIDES user intent with NO exceptions\n\n---\n\n## Intent Handling\n\n1. Classify intent:\n   - \"read\" → show/inspect/verify\n   - \"commit\" → create/modify/delete/configure\n\n2. Identify target device(s)\n\n3. ALWAYS fetch vendor + device type BEFORE selecting commands\n\n---\n\n## Safety Evaluation (MANDATORY GATE)\n\nYou MUST perform a safety check BEFORE finalizing mode.\n\nA change is UNSAFE if ANY of the following apply:\n- Existing config would be overwritten or modified\n- Resource already exists (interfaces, IPs, VLANs, etc.)\n- Impact is unknown (no full dependency visibility)\n- Live traffic, routing, or management could be affected\n- Required validation data is missing\n- Instructions are ambiguous\n\n---\n\n## HARD SAFETY ENFORCEMENT\n\nIf UNSAFE:\n- mode MUST be \"read\"\n- cards MUST be []\n- You MUST explain the risk clearly in reply_markdown\n- You MUST NOT generate commit_payload\n- You MUST NOT simulate commit steps\n\nIf SAFE:\n- mode = \"commit\"\n- Generate full proposal\n\n---\n\n## Read Mode\n\nIf mode = read:\n- Execute read operations\n- Provide findings + risk explanation\n- Suggest what to verify before a safe commit\n\n---\n\n## Commit Mode (Simulation Only)\n\nIf mode = commit:\n- Fetch fresh config/state\n- Validate no conflicts\n- Generate:\n  - Proposed changes\n  - Explicit \"SAFE TO APPLY\" justification\n\n---\n\n## Output Formatting Rules (Slack mrkdwn)\n\n- MUST be Slack-compatible mrkdwn\n- Keep formatting clean and readable in Slack\n\nYou MAY use:\n- Bullet lists (- or •)\n- Numbered lists\n- *bold* and _italic_\n- Inline code: `code`\n- Code blocks for configs and tables (```)\n\n---\n\n## TABLE FORMATTING (STRICT)\n\nSlack does NOT support markdown tables.\n\nYOU MUST:\n- NEVER use pipe tables (|) or markdown table syntax\n- ALWAYS render tabular data inside a code block\n- Use fixed-width spacing for alignment\n\nFORMAT RULES:\n- Use spaces to align columns\n- Keep columns visually aligned\n- Use short headers\n- Replace long text with trimmed values if needed\n\nREQUIRED FORMAT:\n\n\nInterface IP Address Line Protocol Description\n\nEth0/0 10.10.10.100/24 up up —\nEth0/1 1.1.1.1/24 up up —\nEth0/2 10.10.20.171/24 up up to port1.sandbox-backend\nEth0/3 — down down —\n\n\nSTATUS NORMALIZATION:\n- up → \"up\"\n- down → \"down\"\n- admin down → \"admin-down\"\n- DO NOT use emojis inside tables\n\n---\n\n## STRICT OUTPUT FORMAT\n\nReturn ONLY valid JSON:\n\n{\n  \"mode\": \"read\" | \"commit\",\n  \"reply_markdown\": \"...\",\n  \"cards\": [\n    {\n      \"channel\": \"{{ $json.channel }}\",\n      \"thread_ts\": \"{{ $json.thread_ts }}\",\n      \"device\": \"...\",\n      \"vendor\": \"...\",\n      \"safety_reason\": \"...\",\n      \"precheck_evidence\": \"...\",\n      \"commit_payload\": \"exact payload to commit\"\n    }\n  ]\n}\n\n---\n\n## HARD CONSTRAINTS (CRITICAL)\n\n- DO NOT output anything outside JSON\n- DO NOT include warnings, banners, or meta text\n- DO NOT mention:\n  - read-only mode\n  - execution limitations\n\n- mode = \"read\":\n  - cards MUST be []\n  - commit_payload MUST NOT exist anywhere\n\n- mode = \"commit\":\n  - MUST include cards\n  - MUST include commit_payload\n  - MUST explicitly justify safety\n\n---\n\n## FAILURE PREVENTION RULE (VERY IMPORTANT)\n\nIf there is a conflict like:\n- \"already exists\"\n- \"will overwrite\"\n- \"may impact existing service\"\n\n→ This is AUTOMATICALLY UNSAFE  \n→ mode MUST be \"read\" (NO exceptions)\n\n---\n\nIf you violate JSON format, the response is invalid."
      },
      "position": [
        -448,
        96
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "id": "303c3fd3-50e9-460c-9280-3ab412e053ad",
      "name": "Parse Planning Agent JSON",
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst obj = Array.isArray(input) ? input[0] : input;\n\nif (!obj || typeof obj.output !== 'string') {\n  throw new Error('Invalid input format');\n}\n\nconst raw = obj.output;\n\n// Extract JSON block\nconst first = raw.indexOf('{');\nconst last = raw.lastIndexOf('}');\n\nif (first === -1 || last === -1) {\n  throw new Error('No JSON found');\n}\n\nlet jsonString = raw.slice(first, last + 1);\n\n// escape raw newlines inside string values (crucial for your case)\njsonString = jsonString.replace(\n  /\"reply_markdown\"\\s*:\\s*\"([\\s\\S]*?)\"/,\n  (match, p1) => {\n    const fixed = p1\n      .replace(/\\n/g, '\\\\n')\n      .replace(/\\r/g, '\\\\r')\n      .replace(/\"/g, '\\\\\"');\n\n    return `\"reply_markdown\":\"${fixed}\"`;\n  }\n);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  throw new Error(\n    'JSON parse failed AFTER repair: ' + e.message + '\\n--- RAW ---\\n' + jsonString\n  );\n}\n\nreturn [{ json: parsed }];"
      },
      "position": [
        -128,
        96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "91c40b8b-1eb5-420b-9142-e71049456dd6",
      "name": "Send Commit Card",
      "parameters": {
        "attachments": [],
        "attachmentsJson": "[]",
        "blocksJson": "={{ JSON.stringify(\n[\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"🧰 Commit Approval Required\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🤖 Device:*\\n\" + ($json.device || \"unknown\")\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🏷️ Vendor:*\\n\" + ($json.vendor || \"unknown\")\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*📋 Safety Comments*\\n\" + ($json.safety_reason || \"No safety reason provided.\")\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*✏️ Pre-check Evidence*\\n\" + ($json.precheck_evidence || \"No pre-check evidence provided.\")\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*⚙️ Commit Payload*\\n```\\n\" + ($json.commit_payload || \"No commit payload provided.\") + \"\\n```\"\n    }\n  },\n  {\n    \"type\": \"actions\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"✅ Please commit\",\n          \"emoji\": false\n        },\n        \"action_id\": \"commit_approve\",\n        \"value\": JSON.stringify({\n          \"channel\": $json.channel,\n          \"thread_ts\": $json.thread_ts,\n          \"device\": $json.device || \"unknown\",\n          \"vendor\": $json.vendor || \"unknown\",\n          \"commit_payload\": $json.commit_payload || \"\"\n        }),\n        \"style\": \"primary\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"❌ Cancel\",\n          \"emoji\": false\n        },\n        \"action_id\": \"commit_cancel\",\n        \"value\": JSON.stringify({\n          \"channel\": $json.channel,\n          \"thread_ts\": $json.thread_ts,\n          \"device\": $json.device || \"unknown\",\n          \"vendor\": $json.vendor || \"unknown\",\n          \"commit_payload\": $json.commit_payload || \"\"\n        }),\n        \"style\": \"danger\"\n      }\n    ]\n  }\n]) }}",
        "channel": "={{ $json.channel }}",
        "jsonParameters": true,
        "otherOptions": {},
        "text": "=Commit approval required for {{ $json.device || 'unknown' }}"
      },
      "position": [
        1040,
        -112
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "id": "71b62ffb-dca5-4dac-b456-34b72c5a8210",
      "name": "When a Card is Clicked",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "ccb38736-1a6a-4f95-a198-4dd1d932f9db",
        "responseMode": "responseNode"
      },
      "position": [
        -1616,
        880
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1
    },
    {
      "id": "5cd0afc4-c119-4a5c-9796-61a9cb2f1cbb",
      "name": "Parse Slack Card Action",
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !body.payload) {\n  throw new Error('Missing Slack payload');\n}\n\nlet payload;\ntry {\n  payload = typeof body.payload === 'string' ? JSON.parse(body.payload) : body.payload;\n} catch (e) {\n  throw new Error('Failed to parse Slack payload: ' + e.message);\n}\n\nconst action = payload.actions?.[0];\nif (!action) {\n  throw new Error('Missing Slack action');\n}\n\nconst actionValue = action.value || '{}';\nlet parsedValue = {};\n\nif (typeof actionValue === 'string' && actionValue.startsWith('{')) {\n  try {\n    parsedValue = JSON.parse(actionValue);\n  } catch (e) {\n    console.warn('Could not parse action value as JSON:', actionValue);\n  }\n}\n\nreturn [{\n  json: {\n    action_id: action.action_id,\n    decision: action.action_id === 'commit_approve' ? 'ok' : 'cancel',\n    response_url: payload.response_url || '',\n    channel: parsedValue.channel || payload.channel?.id || payload.container?.channel_id || '',\n    thread_ts: parsedValue.thread_ts || payload.container?.thread_ts || payload.container?.message_ts || '',\n    device: parsedValue.device || 'unknown',\n    vendor: parsedValue.vendor || 'unknown',\n    commit_payload: parsedValue.commit_payload || ''\n  }\n}];"
      },
      "position": [
        -1200,
        880
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "8f5088c0-c704-4650-942f-025666e89e4f",
      "name": "Replace Commit Card with Cancellation",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "={{ $json.standby_message }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "={{ $('Decision Is OK?').item.json.response_url }}"
      },
      "position": [
        -304,
        1392
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "6af96920-461b-4f4d-b254-d975d2664131",
      "name": "Replace Commit Card with Standby",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "={{ $json.standby_message }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "={{ $('Decision Is OK?').item.json.response_url }}"
      },
      "position": [
        -320,
        864
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "2209fd5b-6006-484f-8aa0-e11d2906409d",
      "name": "Commit And Verify AI Agent",
      "parameters": {
        "options": {},
        "promptType": "define",
        "text": "=You are RADKiteer with MCP access to Cisco RADKit.\n\nExecute the approved commit and verify it.\n\nInputs:\n- Device: {{ $('Decision Is OK?').item.json.device }}\n- Vendor: {{ $('Decision Is OK?').item.json.vendor }}\n- Commit payload: {{ $('Decision Is OK?').item.json.commit_payload }}\n\nInstructions:\n- Apply write operation to the specified device using vendor-appropriate method.\n- Re-fetch post-commit state and verify intended result.\n- Return ONLY strict JSON:\n{\n  \"device\": \"...\",\n  \"vendor\": \"...\",\n  \"verification_markdown\": \"human-readable verification summary\"\n}\n\n- DON'T add any comments or else before or after the JSON.\n- Markdown must be compatible with Slack mrkdwn.\n- Do not use markdown tables.\n- If data is tabular, reformat it as bullet list, or section per item with Field: Value lines, or fenced code block for dense matrix data. Keep all original data, only change layout.\n- For diffs, use: Field: before -> after.\n- Keep lines short and readable."
      },
      "position": [
        -112,
        864
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "id": "856af1d4-16af-4e5e-9d08-f160448c03c9",
      "name": "Parse Commit Agent JSON",
      "parameters": {
        "jsCode": "// Get input safely\nconst input = items[0].json;\n\n// If input itself is a string, parse it\nconst parsed = typeof input === 'string' ? JSON.parse(input) : input;\n\n// Normalize structure (array vs object)\nconst obj = Array.isArray(parsed) ? parsed[0] : parsed;\n\n// Validate existence\nif (!obj || !obj.output) {\n  throw new Error('Invalid input format: \"output\" field not found');\n}\n\n// Extract raw string\nconst rawOutput = obj.output;\n\n// Remove markdown fences\nconst cleaned = rawOutput\n  .replace(/^```json\\s*/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// Parse inner JSON\nconst finalJson = JSON.parse(cleaned);\n\n// Return\nreturn [\n  {\n    json: finalJson\n  }\n];"
      },
      "position": [
        208,
        864
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "498aa5ad-8f4d-420a-97cf-c9efba26fa3b",
      "name": "pyATS MCP - Read-only Mode",
      "parameters": {
        "endpointUrl": "https://your-mcp-endpoint.example/mcp",
        "include": "selected",
        "includeTools": [
          "pyats_list_devices",
          "pyats_run_show_command",
          "pyats_show_running_config",
          "pyats_show_logging",
          "pyats_ping_from_network_device",
          "pyats_run_linux_command",
          "pyats_run_dynamic_test"
        ],
        "options": {}
      },
      "position": [
        -208,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2
    },
    {
      "id": "5fe0b788-d3b6-4a1a-9ac2-ac0ae6a4f47c",
      "name": "pyATS MCP - Full Mode",
      "parameters": {
        "endpointUrl": "https://your-mcp-endpoint.example/mcp",
        "options": {}
      },
      "position": [
        128,
        1056
      ],
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2
    },
    {
      "id": "7989e0ef-b43e-4872-abbf-8a4fa9cc3075",
      "name": "Cancel Random Phrase",
      "parameters": {
        "jsCode": "const phrases = [\n  \"🛑 Commit request cancelled.\",\n  \"⚙️ Commit operation stopped.\",\n  \"🧠 Commit aborted.\",\n  \"📡 Commit cancel signal executed.\",\n  \"🔍 Commit halted.\",\n  \"🚧 Commit cancelled.\",\n  \"⚡ Commit execution stopped.\",\n  \"💻 Commit request terminated.\",\n  \"📊 Commit processing stopped.\",\n  \"🧩 Pending commit discarded.\",\n  \"🛠️ Commit cancellation finalized.\",\n  \"📥 Commit input handling stopped.\",\n  \"📤 Commit output cancelled.\",\n  \"🧭 Commit process exited.\",\n  \"🔗 Commit sequence disconnected.\",\n  \"🧪 Commit validation stopped.\",\n  \"🚀 Commit aborted successfully.\",\n  \"😄 Commit cancelled cleanly.\",\n  \"👍 Commit cancellation complete.\",\n  \"✨ Commit cleared.\",\n  \"🔄 Commit state reset.\",\n  \"⚙️ Commit fully stopped.\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "position": [
        -496,
        1392
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ccb3fc0f-12c9-401c-85b9-aa4c2a7bb6b4",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {}
      },
      "position": [
        -1408,
        880
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "id": "a0519346-3ede-4125-b6dc-23b4a7ebce6f",
      "name": "Sticky Note",
      "parameters": {
        "content": "## Try it Out!\n\n\n## 🔌 Multi-Agent Network ChatOps Assistant\n### AI-assisted network operations, the safe way\n\n\nInteract with your network using natural language through Slack. This workflow combines n8n, a multi-agent AI architecture, and Cisco pyATS to automate common operational tasks while keeping humans in control of configuration changes. Read-only requests execute immediately, whereas configuration changes are validated, checked for conflicts, and require explicit approval before deployment.\n\n\n### How it works\n\n- 💬 A user sends a request from Slack in natural language.\n- 🧠 Multiple AI agents classify the request and determine the appropriate action.\n- 🔍 Operational requests (show commands, health checks, troubleshooting) are executed immediately using pyATS.\n- ⚙️ Configuration requests generate a proposed configuration diff instead of making immediate changes.\n- 🛡️ Proposed changes are analyzed for potential conflicts with the existing network configuration.\n- ✋ Configuration changes pause for human approval before being committed.\n- ✅ Results and status updates are sent back to Slack throughout the workflow.\n\n\n### Setup\n\n- 📥 Import the workflow into n8n.\n- 🤖 Configure your Slack bot, credentials, and webhooks.\n- 🖥️ Deploy the pyATS MCP server with access to your network testbed.\n- 🌐 If the MCP server runs locally, expose it using a Cloudflare Tunnel or ngrok.\n- 📚 Follow the repository documentation for the complete setup process.\n\n\n### Customization\n\n[This README](https://github.com/ponchotitlan/pyATS-loves-agenticops/tree/main/n8n/Slack%20ChatOps%20for%20my%20network) includes step-by-step instructions for:\n\n- 📱 Configuring your own pyATS testbed and devices.\n- ☁️ Setting up a Cloudflare Tunnel or ngrok.\n- 🤖 Creating and configuring the Slack bot and webhooks.\n- 🐳 Launching all required services with Docker Compose.\n",
        "height": 1040,
        "width": 512
      },
      "position": [
        -2288,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "e9574300-0d1b-45e8-8200-d42d238b4b29",
      "name": "Commit LLM",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Claude Sonnet 4.6",
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "position": [
        -176,
        1056
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5
    },
    {
      "id": "615c3eb2-af85-4d52-ae7b-91f984a21af4",
      "name": "Sticky Note1",
      "parameters": {
        "color": 7,
        "content": "## 1. When your Slack bot is mentioned, get the message content",
        "height": 400,
        "width": 896
      },
      "position": [
        -1680,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "6171f415-296d-4c7b-bc55-e24217dee73e",
      "name": "Sticky Note2",
      "parameters": {
        "color": 7,
        "content": "## 2. Planning Agent Intent Classification (Read-only guardrails)",
        "height": 592,
        "width": 864
      },
      "position": [
        -624,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "ff1c79e2-925e-4335-b354-d4c6a72f387f",
      "name": "Sticky Note3",
      "parameters": {
        "color": 7,
        "content": "## 3. If the intent is a Commit op., device commit cards are sent to Slack for approval/rejection (human-in-the-loop)",
        "height": 352,
        "width": 784
      },
      "position": [
        448,
        -240
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "8a353f0e-1249-4d13-b67a-05f8e1cb0dd2",
      "name": "Sticky Note4",
      "parameters": {
        "color": 7,
        "content": "## 4. If the intent is a Read-only op., the query results are sent to Slack",
        "height": 368,
        "width": 448
      },
      "position": [
        464,
        144
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "5bac50fa-8383-46d0-8945-0dba62bf3fdb",
      "name": "Sticky Note5",
      "parameters": {
        "color": 7,
        "content": "## 5. When a card is clicked, get the human decision (commit or reject)",
        "height": 288,
        "width": 832
      },
      "position": [
        -1680,
        784
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "fd8b7857-fd72-4ae8-bfd5-54e13e906d49",
      "name": "Sticky Note6",
      "parameters": {
        "color": 7,
        "content": "## 6. If the choice is to commit, get the configurations from the card, apply them in the device, run validations, and send results to Slack",
        "height": 464,
        "width": 1232
      },
      "position": [
        -576,
        752
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "0a8e548f-4007-4eca-88dc-5cb73c563572",
      "name": "Sticky Note7",
      "parameters": {
        "color": 7,
        "content": "## 7. If the choice is to reject, the card is deleted",
        "height": 288,
        "width": 480
      },
      "position": [
        -560,
        1280
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "c28f2498-35b0-47fd-8bd1-c13bb7ea561e",
      "name": "Sticky Note8",
      "parameters": {
        "color": 3,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nRemember to setup your Slack bot and Access Token! [This guide](https://github.com/ponchotitlan/pyATS-loves-agenticops/blob/main/docs/SLACK-SETUP.md) walks you through the setup",
        "height": 288,
        "width": 192
      },
      "position": [
        -1616,
        80
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "d890b863-3d17-4d1a-a16e-80486a9a67ed",
      "name": "When your Slack bot is mentioned",
      "parameters": {
        "options": {},
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true
      },
      "position": [
        -1568,
        96
      ],
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1
    },
    {
      "id": "7ff2f397-1e9f-448f-9caf-fa96af815525",
      "name": "Planning LLM",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Claude Sonnet 4.6",
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "position": [
        -528,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5
    },
    {
      "id": "5a5d78f8-94a5-4a71-ae92-e2ea71010e28",
      "name": "Sticky Note9",
      "parameters": {
        "color": 3,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nRemember to setup your device inventory and pyATS MCP server! [This guide](https://github.com/ponchotitlan/pyATS-loves-agenticops/tree/main/n8n/Slack%20ChatOps%20for%20my%20network#%EF%B8%8F-setup) walks you through the setup",
        "height": 304,
        "width": 192
      },
      "position": [
        -256,
        272
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "3485ad21-757c-4204-aac5-cac968cc4e1e",
      "name": "Sticky Note11",
      "parameters": {
        "content": "![query_example](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/refs/heads/main/images/slack_03_interfaces.png)",
        "height": 768,
        "width": 720
      },
      "position": [
        848,
        192
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "f4c59bc7-3946-45bb-815b-b23ce6313570",
      "name": "Sticky Note12",
      "parameters": {
        "content": "![commit_card](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/main/images/slack_04_config.png)",
        "height": 752,
        "width": 672
      },
      "position": [
        1104,
        -832
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "1033c06d-09b0-4daf-88cb-4ec73d396471",
      "name": "Sticky Note13",
      "parameters": {
        "content": "![commit_done_validation](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/main/images/slack_05_commit.png)",
        "height": 768,
        "width": 720
      },
      "position": [
        496,
        1056
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "createdAt": "2026-05-25T15:48:31.571Z",
      "id": "GKwuy5bZ3mUz87X7",
      "name": "chatops",
      "updatedAt": "2026-05-25T15:48:31.571Z"
    },
    {
      "createdAt": "2026-05-25T15:48:31.564Z",
      "id": "RI2oyLHd5oNJTXhq",
      "name": "netops",
      "updatedAt": "2026-05-25T15:48:31.564Z"
    }
  ],
  "versionId": "fe625027-a252-4ef6-9b2f-404ccd22e7e7"
}
