n8n/Slack ChatOps for my network/Multi-Agent Network ChatOps Assistant with Slack.json
{
  "name": "Multi-Agent Network ChatOps Assistant with Slack",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d465ca43-e71d-49f2-9e76-73a009f7e3f8",
              "leftValue": "={{ $json.mode }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "commit"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "fed50e4b-6cca-467b-96c5-2511b1e19ddd",
      "name": "Is Commit?",
      "position": [
        -1040,
        720
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "cards",
        "options": {}
      },
      "id": "1e8c419d-b258-4441-8e56-4d7d744bb7f7",
      "name": "Explode Commit Cards",
      "position": [
        -720,
        512
      ],
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05f002f1-bc18-4976-b58d-011cca455043",
      "name": "One Device At A Time",
      "position": [
        -480,
        512
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e032f617-c653-42fe-9173-f0f8c1266ec1",
              "leftValue": "={{ $json.action_id }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "commit_approve"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "1ba4aebb-3b0b-4302-9ebc-f6e5b37d6528",
      "name": "Decision Is OK?",
      "position": [
        -2000,
        1392
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "channel": "={{ $('Decision Is OK?').item.json.channel }}",
        "text": "={{ $json.verification_markdown }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "21a033fa-83fa-4464-8385-0c1900adfdc5",
      "name": "Send Commit Verification",
      "position": [
        -752,
        1408
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "parameters": {
        "channel": "={{ $('When your Slack bot is mentioned').item.json.channel }}",
        "text": "={{ $json.reply_markdown }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "44a87e14-4204-4d29-b0f9-37571515089f",
      "name": "Reply to message in thread",
      "position": [
        -272,
        944
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Pool of generic, slightly cheerful, technical standby phrases\nconst phrases = [\n  \"🔄 Processing request… please wait.\",\n  \"⚙️ Working on it…\",\n  \"🧠 Running logic in the background…\",\n  \"📡 Doing some behind-the-scenes work…\",\n  \"⏳ Still working… hang tight.\",\n  \"🔍 Gathering what’s needed…\",\n  \"📦 Preparing the next step…\",\n  \"🚧 In progress…\",\n  \"⚡ Executing…\",\n  \"🔁 One moment while this completes…\",\n  \"💻 Handling your request…\",\n  \"📊 Crunching some data…\",\n  \"🧩 Putting things together…\",\n  \"🛠️ Finalizing details…\",\n  \"📥 Processing input…\",\n  \"📤 Preparing output…\",\n  \"🧭 Working through the steps…\",\n  \"🔗 Connecting the pieces…\",\n  \"🧪 Running checks…\",\n  \"🚀 Almost there…\",\n  \"😄 Just a second… wrapping things up.\",\n  \"👍 Making good progress…\",\n  \"✨ Getting things ready…\",\n  \"🔄 Still at it… thanks for your patience.\",\n  \"⚙️ Nearly done…\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "id": "c0622216-d315-4237-9fcc-1f5adc1a2433",
      "name": "Generate Standby Message",
      "position": [
        -2352,
        720
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const phrases = [\n  \"🔄 Processing request… please wait.\",\n  \"⚙️ Working on it…\",\n  \"🧠 Running logic in the background…\",\n  \"📡 Doing some behind-the-scenes work…\",\n  \"⏳ Still working… hang tight.\",\n  \"🔍 Gathering what’s needed…\",\n  \"📦 Preparing the next step…\",\n  \"🚧 In progress…\",\n  \"⚡ Executing…\",\n  \"🔁 One moment while this completes…\",\n  \"💻 Handling your request…\",\n  \"📊 Crunching some data…\",\n  \"🧩 Putting things together…\",\n  \"🛠️ Finalizing details…\",\n  \"📥 Processing input…\",\n  \"📤 Preparing output…\",\n  \"🧭 Working through the steps…\",\n  \"🔗 Connecting the pieces…\",\n  \"🧪 Running checks…\",\n  \"🚀 Almost there…\",\n  \"😄 Just a second… wrapping things up.\",\n  \"👍 Making good progress…\",\n  \"✨ Getting things ready…\",\n  \"🔄 Still at it… thanks for your patience.\",\n  \"⚙️ Nearly done…\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "id": "3192c7ee-a778-4a09-8015-b7d27c582b87",
      "name": "Generate Commit Standby Message",
      "position": [
        -1664,
        1408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "channel": "={{ $('When your Slack bot is mentioned').item.json.channel }}",
        "text": "={{ $json.standby_message }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "6658071a-f16d-43b4-986a-10564e0939bc",
      "name": "Send Please Standby Message",
      "position": [
        -2144,
        720
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "credentials": {
        "slackApi": {
          "id": "zTAkKfcIyZa9aUQ0",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const incoming = $('When your Slack bot is mentioned').first().json;\nconst raw = incoming.text || '';\nconst cleaned = raw.replace(/<@[^>]+>/g, '').trim();\n\nreturn [{\n  json: {\n    text: cleaned,\n    channel: incoming.channel,\n    thread_ts: incoming.ts || incoming.event_ts\n  }\n}];"
      },
      "id": "21619383-7570-48fe-9614-c4ff8cddcfd5",
      "name": "Get Slack Message from Bot Mention",
      "position": [
        -1936,
        720
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a network operations AI assistant with MCP access to our network device inventory.\n\nUser raw text:\n{{ $json.text }}\n\n---\n\n## Core Behavior\n\nYou MUST always return a valid JSON response. No exceptions.\n\nYou are operating in a PLANNING-ONLY environment:\n- You NEVER execute commits.\n- \"commit\" mode = generate a proposed change plan only.\n- DO NOT mention execution limitations or read-only mode.\n\n---\n\n## DECISION PRIORITY (HIGHEST → LOWEST)\n\n1. SAFETY (absolute override)\n2. DATA VALIDITY (fresh state required)\n3. USER INTENT\n\nIf there is ANY safety risk or uncertainty:\n→ mode MUST be \"read\"\n→ This rule OVERRIDES user intent with NO exceptions\n\n---\n\n## Intent Handling\n\n1. Classify intent:\n   - \"read\" → show/inspect/verify\n   - \"commit\" → create/modify/delete/configure\n\n2. Identify target device(s)\n\n3. ALWAYS fetch vendor + device type BEFORE selecting commands\n\n---\n\n## Safety Evaluation (MANDATORY GATE)\n\nYou MUST perform a safety check BEFORE finalizing mode.\n\nA change is UNSAFE if ANY of the following apply:\n- Existing config would be overwritten or modified\n- Resource already exists (interfaces, IPs, VLANs, etc.)\n- Impact is unknown (no full dependency visibility)\n- Live traffic, routing, or management could be affected\n- Required validation data is missing\n- Instructions are ambiguous\n\n---\n\n## HARD SAFETY ENFORCEMENT\n\nIf UNSAFE:\n- mode MUST be \"read\"\n- cards MUST be []\n- You MUST explain the risk clearly in reply_markdown\n- You MUST NOT generate commit_payload\n- You MUST NOT simulate commit steps\n\nIf SAFE:\n- mode = \"commit\"\n- Generate full proposal\n\n---\n\n## Read Mode\n\nIf mode = read:\n- Execute read operations\n- Provide findings + risk explanation\n- Suggest what to verify before a safe commit\n\n---\n\n## Commit Mode (Simulation Only)\n\nIf mode = commit:\n- Fetch fresh config/state\n- Validate no conflicts\n- Generate:\n  - Proposed changes\n  - Explicit \"SAFE TO APPLY\" justification\n\n---\n\n## Output Formatting Rules (Slack mrkdwn)\n\n- MUST be Slack-compatible mrkdwn\n- Keep formatting clean and readable in Slack\n\nYou MAY use:\n- Bullet lists (- or •)\n- Numbered lists\n- *bold* and _italic_\n- Inline code: `code`\n- Code blocks for configs and tables (```)\n\n---\n\n## TABLE FORMATTING (STRICT)\n\nSlack does NOT support markdown tables.\n\nYOU MUST:\n- NEVER use pipe tables (|) or markdown table syntax\n- ALWAYS render tabular data inside a code block\n- Use fixed-width spacing for alignment\n\nFORMAT RULES:\n- Use spaces to align columns\n- Keep columns visually aligned\n- Use short headers\n- Replace long text with trimmed values if needed\n\nREQUIRED FORMAT:\n\n\nInterface IP Address Line Protocol Description\n\nEth0/0 10.10.10.100/24 up up —\nEth0/1 1.1.1.1/24 up up —\nEth0/2 10.10.20.171/24 up up to port1.sandbox-backend\nEth0/3 — down down —\n\n\nSTATUS NORMALIZATION:\n- up → \"up\"\n- down → \"down\"\n- admin down → \"admin-down\"\n- DO NOT use emojis inside tables\n\n---\n\n## STRICT OUTPUT FORMAT\n\nReturn ONLY valid JSON:\n\n{\n  \"mode\": \"read\" | \"commit\",\n  \"reply_markdown\": \"...\",\n  \"cards\": [\n    {\n      \"channel\": \"{{ $json.channel }}\",\n      \"thread_ts\": \"{{ $json.thread_ts }}\",\n      \"device\": \"...\",\n      \"vendor\": \"...\",\n      \"safety_reason\": \"...\",\n      \"precheck_evidence\": \"...\",\n      \"commit_payload\": \"exact payload to commit\"\n    }\n  ]\n}\n\n---\n\n## HARD CONSTRAINTS (CRITICAL)\n\n- DO NOT output anything outside JSON\n- DO NOT include warnings, banners, or meta text\n- DO NOT mention:\n  - read-only mode\n  - execution limitations\n\n- mode = \"read\":\n  - cards MUST be []\n  - commit_payload MUST NOT exist anywhere\n\n- mode = \"commit\":\n  - MUST include cards\n  - MUST include commit_payload\n  - MUST explicitly justify safety\n\n---\n\n## FAILURE PREVENTION RULE (VERY IMPORTANT)\n\nIf there is a conflict like:\n- \"already exists\"\n- \"will overwrite\"\n- \"may impact existing service\"\n\n→ This is AUTOMATICALLY UNSAFE  \n→ mode MUST be \"read\" (NO exceptions)\n\n---\n\nIf you violate JSON format, the response is invalid.",
        "options": {}
      },
      "id": "1c00e430-5c0b-4e92-beb4-b6dd662f0639",
      "name": "Planning AI Agent",
      "position": [
        -1552,
        720
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst obj = Array.isArray(input) ? input[0] : input;\n\nif (!obj || typeof obj.output !== 'string') {\n  throw new Error('Invalid input format');\n}\n\nconst raw = obj.output;\n\n// Extract JSON block\nconst first = raw.indexOf('{');\nconst last = raw.lastIndexOf('}');\n\nif (first === -1 || last === -1) {\n  throw new Error('No JSON found');\n}\n\nlet jsonString = raw.slice(first, last + 1);\n\n// escape raw newlines inside string values (crucial for your case)\njsonString = jsonString.replace(\n  /\"reply_markdown\"\\s*:\\s*\"([\\s\\S]*?)\"/,\n  (match, p1) => {\n    const fixed = p1\n      .replace(/\\n/g, '\\\\n')\n      .replace(/\\r/g, '\\\\r')\n      .replace(/\"/g, '\\\\\"');\n\n    return `\"reply_markdown\":\"${fixed}\"`;\n  }\n);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  throw new Error(\n    'JSON parse failed AFTER repair: ' + e.message + '\\n--- RAW ---\\n' + jsonString\n  );\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "77f9e06f-5736-43ed-9ead-b731231b5c4a",
      "name": "Parse Planning Agent JSON",
      "position": [
        -1232,
        720
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "channel": "={{ $json.channel }}",
        "text": "=Commit approval required for {{ $json.device || 'unknown' }}",
        "jsonParameters": true,
        "otherOptions": {},
        "attachments": [],
        "attachmentsJson": "[]",
        "blocksJson": "={{ JSON.stringify(\n[\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"🧰 Commit Approval Required\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🤖 Device:*\\n\" + ($json.device || \"unknown\")\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🏷️ Vendor:*\\n\" + ($json.vendor || \"unknown\")\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*📋 Safety Comments*\\n\" + ($json.safety_reason || \"No safety reason provided.\")\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*✏️ Pre-check Evidence*\\n\" + ($json.precheck_evidence || \"No pre-check evidence provided.\")\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*⚙️ Commit Payload*\\n```\\n\" + ($json.commit_payload || \"No commit payload provided.\") + \"\\n```\"\n    }\n  },\n  {\n    \"type\": \"actions\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"✅ Please commit\",\n          \"emoji\": false\n        },\n        \"action_id\": \"commit_approve\",\n        \"value\": JSON.stringify({\n          \"channel\": $json.channel,\n          \"thread_ts\": $json.thread_ts,\n          \"device\": $json.device || \"unknown\",\n          \"vendor\": $json.vendor || \"unknown\",\n          \"commit_payload\": $json.commit_payload || \"\"\n        }),\n        \"style\": \"primary\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"❌ Cancel\",\n          \"emoji\": false\n        },\n        \"action_id\": \"commit_cancel\",\n        \"value\": JSON.stringify({\n          \"channel\": $json.channel,\n          \"thread_ts\": $json.thread_ts,\n          \"device\": $json.device || \"unknown\",\n          \"vendor\": $json.vendor || \"unknown\",\n          \"commit_payload\": $json.commit_payload || \"\"\n        }),\n        \"style\": \"danger\"\n      }\n    ]\n  }\n]) }}"
      },
      "id": "43c845c8-118a-4a18-98d1-987f1833928b",
      "name": "Send Commit Card",
      "position": [
        -240,
        528
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccb38736-1a6a-4f95-a198-4dd1d932f9db",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0f5e0cad-a472-46f8-9563-1143694e5d36",
      "name": "When a Card is Clicked",
      "position": [
        -2608,
        1392
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "2d44dc19-91d8-4f97-8712-1a73ec73b9ae"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !body.payload) {\n  throw new Error('Missing Slack payload');\n}\n\nlet payload;\ntry {\n  payload = typeof body.payload === 'string' ? JSON.parse(body.payload) : body.payload;\n} catch (e) {\n  throw new Error('Failed to parse Slack payload: ' + e.message);\n}\n\nconst action = payload.actions?.[0];\nif (!action) {\n  throw new Error('Missing Slack action');\n}\n\nconst actionValue = action.value || '{}';\nlet parsedValue = {};\n\nif (typeof actionValue === 'string' && actionValue.startsWith('{')) {\n  try {\n    parsedValue = JSON.parse(actionValue);\n  } catch (e) {\n    console.warn('Could not parse action value as JSON:', actionValue);\n  }\n}\n\nreturn [{\n  json: {\n    action_id: action.action_id,\n    decision: action.action_id === 'commit_approve' ? 'ok' : 'cancel',\n    response_url: payload.response_url || '',\n    channel: parsedValue.channel || payload.channel?.id || payload.container?.channel_id || '',\n    thread_ts: parsedValue.thread_ts || payload.container?.thread_ts || payload.container?.message_ts || '',\n    device: parsedValue.device || 'unknown',\n    vendor: parsedValue.vendor || 'unknown',\n    commit_payload: parsedValue.commit_payload || ''\n  }\n}];"
      },
      "id": "1282f3d7-9f36-46a5-b3c0-e27ce81f0fe3",
      "name": "Parse Slack Card Action",
      "position": [
        -2192,
        1392
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Decision Is OK?').item.json.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "={{ $json.standby_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0f92124-509e-483d-9a26-0e52a0ea7842",
      "name": "Replace Commit Card with Cancellation",
      "position": [
        -1456,
        1936
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Decision Is OK?').item.json.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "text",
              "value": "={{ $json.standby_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e663644c-a03d-4825-afbc-3463c6071205",
      "name": "Replace Commit Card with Standby",
      "position": [
        -1472,
        1408
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Network Configuration with MCP access to our network devices.\n\nExecute the approved commit and verify it.\n\nInputs:\n- Device: {{ $('Decision Is OK?').item.json.device }}\n- Vendor: {{ $('Decision Is OK?').item.json.vendor }}\n- Commit payload: {{ $('Decision Is OK?').item.json.commit_payload }}\n\nInstructions:\n- Apply write operation to the specified device using vendor-appropriate method.\n- Re-fetch post-commit state and verify intended result.\n- Return ONLY strict JSON:\n{\n  \"device\": \"...\",\n  \"vendor\": \"...\",\n  \"verification_markdown\": \"human-readable verification summary\"\n}\n\n- DON'T add any comments or else before or after the JSON.\n- Markdown must be compatible with Slack mrkdwn.\n- Do not use markdown tables.\n- If data is tabular, reformat it as bullet list, or section per item with Field: Value lines, or fenced code block for dense matrix data. Keep all original data, only change layout.\n- For diffs, use: Field: before -> after.\n- Keep lines short and readable.",
        "options": {}
      },
      "id": "54d75249-47b8-462f-845f-5bc3fbea5387",
      "name": "Commit And Verify AI Agent",
      "position": [
        -1264,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Get input safely\nconst input = items[0].json;\n\n// If input itself is a string, parse it\nconst parsed = typeof input === 'string' ? JSON.parse(input) : input;\n\n// Normalize structure (array vs object)\nconst obj = Array.isArray(parsed) ? parsed[0] : parsed;\n\n// Validate existence\nif (!obj || !obj.output) {\n  throw new Error('Invalid input format: \"output\" field not found');\n}\n\n// Extract raw string\nconst rawOutput = obj.output;\n\n// Remove markdown fences\nconst cleaned = rawOutput\n  .replace(/^```json\\s*/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// Parse inner JSON\nconst finalJson = JSON.parse(cleaned);\n\n// Return\nreturn [\n  {\n    json: finalJson\n  }\n];"
      },
      "id": "dc840e53-637f-403a-877e-90079c204e6d",
      "name": "Parse Commit Agent JSON",
      "position": [
        -944,
        1408
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "endpointUrl": "https://your-mcp-endpoint.example/mcp",
        "include": "selected",
        "includeTools": [
          "pyats_list_devices",
          "pyats_run_show_command",
          "pyats_show_running_config",
          "pyats_show_logging",
          "pyats_ping_from_network_device",
          "pyats_run_linux_command",
          "pyats_run_dynamic_test"
        ],
        "options": {}
      },
      "id": "30443ba1-69bd-46a6-814a-b4a6e2d3bdb1",
      "name": "pyATS MCP - Read-only Mode",
      "position": [
        -1312,
        944
      ],
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "endpointUrl": "https://your-mcp-endpoint.example/mcp",
        "options": {}
      },
      "id": "ec1bdd4b-4540-4d21-bd46-e01064110634",
      "name": "pyATS MCP - Full Mode",
      "position": [
        -992,
        1600
      ],
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const phrases = [\n  \"🛑 Commit request cancelled.\",\n  \"⚙️ Commit operation stopped.\",\n  \"🧠 Commit aborted.\",\n  \"📡 Commit cancel signal executed.\",\n  \"🔍 Commit halted.\",\n  \"🚧 Commit cancelled.\",\n  \"⚡ Commit execution stopped.\",\n  \"💻 Commit request terminated.\",\n  \"📊 Commit processing stopped.\",\n  \"🧩 Pending commit discarded.\",\n  \"🛠️ Commit cancellation finalized.\",\n  \"📥 Commit input handling stopped.\",\n  \"📤 Commit output cancelled.\",\n  \"🧭 Commit process exited.\",\n  \"🔗 Commit sequence disconnected.\",\n  \"🧪 Commit validation stopped.\",\n  \"🚀 Commit aborted successfully.\",\n  \"😄 Commit cancelled cleanly.\",\n  \"👍 Commit cancellation complete.\",\n  \"✨ Commit cleared.\",\n  \"🔄 Commit state reset.\",\n  \"⚙️ Commit fully stopped.\"\n];\n\n// Pick a random phrase\nconst randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];\n\n// Return it as output\nreturn [\n  {\n    json: {\n      standby_message: randomPhrase\n    }\n  }\n];"
      },
      "id": "cde2b865-5494-4203-b6cb-4169b7406554",
      "name": "Cancel Random Phrase",
      "position": [
        -1648,
        1936
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "15f49cab-182f-44ef-995b-d336084e61d4",
      "name": "Respond to Webhook",
      "position": [
        -2400,
        1392
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Try it Out!\n\n\n## 🔌 Multi-Agent Network ChatOps Assistant with Slack\n### AI-assisted network housekeeping, the chatty & safe way\n\n\nInteract with your network using natural language through Slack. This workflow combines n8n, a multi-agent AI architecture, and Cisco pyATS to automate common operational tasks while keeping humans in control of configuration changes. Read-only requests execute immediately, whereas configuration changes are validated, checked for conflicts, and require explicit approval before deployment.\n\n\n### How it works\n\n- 💬 A user sends a request from Slack in natural language.\n- 🧠 Multiple AI agents classify the request and determine the appropriate action.\n- 🔍 Operational requests (show commands, health checks, troubleshooting) are executed immediately using pyATS.\n- ⚙️ Configuration requests generate a proposed configuration diff instead of making immediate changes.\n- 🛡️ Proposed changes are analyzed for potential conflicts with the existing network configuration.\n- ✋ Configuration changes pause for human approval before being committed.\n- ✅ Results and status updates are sent back to Slack throughout the workflow.\n\n\n### Setup\n\n- 📥 Import the workflow into n8n.\n- 🤖 Configure your Slack bot, credentials, and webhooks.\n- 🖥️ Deploy the pyATS MCP server with access to your network testbed.\n- 🌐 If the MCP server runs locally, expose it using a Cloudflare Tunnel or ngrok.\n- 📚 Follow the repository documentation for the complete setup process.\n\n\n### Customization\n\n[This README](https://github.com/ponchotitlan/pyATS-loves-agenticops/tree/main/n8n/Slack%20ChatOps%20for%20my%20network) includes step-by-step instructions for:\n\n- 📱 Configuring your own pyATS testbed and devices.\n- ☁️ Setting up a Cloudflare Tunnel or ngrok.\n- 🤖 Creating and configuring the Slack bot and webhooks.\n- 🐳 Launching all required services with Docker Compose.\n",
        "height": 1040,
        "width": 512
      },
      "id": "f6a19938-5831-4e85-a17b-36268e64e69c",
      "name": "Sticky Note",
      "position": [
        -3280,
        624
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Claude Sonnet 4.6",
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "id": "dc41b082-07ee-48d7-bf9c-f358b3c62141",
      "name": "Commit LLM",
      "position": [
        -1328,
        1600
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "content": "## 1. When your Slack bot is mentioned, get the message content",
        "height": 400,
        "width": 896,
        "color": 7
      },
      "id": "aede0533-c230-4482-b0e6-29205f13d44c",
      "name": "Sticky Note1",
      "position": [
        -2672,
        624
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Planning Agent Intent Classification (Read-only guardrails)",
        "height": 592,
        "width": 864,
        "color": 7
      },
      "id": "fa36c846-e5bf-47fa-bab2-96d1f4016005",
      "name": "Sticky Note2",
      "position": [
        -1728,
        624
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. If the intent is a Commit op., device commit cards are sent to Slack for approval/rejection (human-in-the-loop)",
        "height": 352,
        "width": 784,
        "color": 7
      },
      "id": "7249392f-b78a-481d-832b-bf4562be80ff",
      "name": "Sticky Note3",
      "position": [
        -832,
        400
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. If the intent is a Read-only op. or there is a commit conflict, the query results are sent to Slack",
        "height": 368,
        "width": 336,
        "color": 7
      },
      "id": "f66833b3-11bc-45d6-90e9-ba99c449520f",
      "name": "Sticky Note4",
      "position": [
        -384,
        784
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. When a card is clicked, get the human decision (commit or reject)",
        "height": 288,
        "width": 832,
        "color": 7
      },
      "id": "63319f09-7dad-4adc-b353-9d3125c77d13",
      "name": "Sticky Note5",
      "position": [
        -2672,
        1296
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6. If the choice is to commit, get the configurations from the card, apply them in the device, run validations, and send results to Slack",
        "height": 464,
        "width": 1232,
        "color": 7
      },
      "id": "79bd9937-442f-46ff-b4c9-d6cb4a8958b6",
      "name": "Sticky Note6",
      "position": [
        -1728,
        1296
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 7. If the choice is to reject, the card is deleted",
        "height": 288,
        "width": 480,
        "color": 7
      },
      "id": "76dd6236-1fc0-4127-a8a3-45b819ec93b2",
      "name": "Sticky Note7",
      "position": [
        -1712,
        1824
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nRemember to setup your Slack bot and Access Token! [This guide](https://github.com/ponchotitlan/pyATS-loves-agenticops/blob/main/docs/SLACK-SETUP.md) walks you through the setup",
        "height": 288,
        "width": 192,
        "color": 3
      },
      "id": "a90051fa-3919-4ea7-9429-69be8fb9a9f0",
      "name": "Sticky Note8",
      "position": [
        -2608,
        704
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "id": "df1b0a17-e9e3-4749-bf07-96f3c4bc03ee",
      "name": "When your Slack bot is mentioned",
      "position": [
        -2560,
        720
      ],
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "webhookId": "fc180523-98be-4c9b-97ac-d228cc233589",
      "credentials": {
        "slackApi": {
          "id": "zTAkKfcIyZa9aUQ0",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Claude Sonnet 4.6",
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "id": "83379d66-9d7a-401b-b66d-3da04890d499",
      "name": "Planning LLM",
      "position": [
        -1632,
        944
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "credentials": {
        "anthropicApi": {
          "id": "rfGYsOsA1LgA8sLx",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nRemember to setup your device inventory and pyATS MCP server! [This guide](https://github.com/ponchotitlan/pyATS-loves-agenticops/tree/main/n8n/Slack%20ChatOps%20for%20my%20network#%EF%B8%8F-setup) walks you through the setup",
        "height": 304,
        "width": 192,
        "color": 3
      },
      "id": "c1f665be-16fe-46c2-8338-fd82bcb1c290",
      "name": "Sticky Note9",
      "position": [
        -1360,
        896
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![query_example](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/refs/heads/main/images/slack_03_interfaces.png)",
        "height": 768,
        "width": 720
      },
      "id": "727fb675-4269-40b4-8219-df92c876011b",
      "name": "Sticky Note11",
      "position": [
        0,
        784
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![commit_card](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/main/images/slack_04_config.png)",
        "height": 752,
        "width": 672
      },
      "id": "d7baa27f-e274-469b-8a9b-a71bc066d2bf",
      "name": "Sticky Note12",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![commit_done_validation](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/main/images/slack_05_commit.png)",
        "height": 768,
        "width": 720
      },
      "id": "ec8b85bc-fba8-4e27-bc1c-7845627505f9",
      "name": "Sticky Note13",
      "position": [
        -768,
        1600
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\nRemember to setup your device inventory and pyATS MCP server! [This guide](https://github.com/ponchotitlan/pyATS-loves-agenticops/tree/main/n8n/Slack%20ChatOps%20for%20my%20network#%EF%B8%8F-setup) walks you through the setup",
        "height": 272,
        "width": 192,
        "color": 3
      },
      "id": "3337936e-d0a7-4273-b240-269a00464541",
      "name": "Sticky Note10",
      "position": [
        -1040,
        1584
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![commit_conflict](https://raw.githubusercontent.com/ponchotitlan/pyATS-loves-agenticops/main/images/slack_06_conflict.png)",
        "height": 768,
        "width": 720
      },
      "id": "ab0eac9c-6078-491e-ba18-101225295391",
      "name": "Sticky Note14",
      "position": [
        752,
        784
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get Slack Message from Bot Mention').item.json.channel }}"
      },
      "id": "a23de5fa-571f-4883-bf0c-de1c5118452c",
      "name": "Reasoning Memory (Planning)",
      "position": [
        -1488,
        944
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse Slack Card Action').item.json.response_url }}"
      },
      "id": "2e154025-742e-47cd-9116-3f0ea3b77cb3",
      "name": "Reasoning Memory (Commit)",
      "position": [
        -1184,
        1600
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4
    }
  ],
  "pinData": {},
  "connections": {
    "Cancel Random Phrase": {
      "main": [
        [
          {
            "node": "Replace Commit Card with Cancellation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit And Verify AI Agent": {
      "main": [
        [
          {
            "node": "Parse Commit Agent JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Commit And Verify AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision Is OK?": {
      "main": [
        [
          {
            "node": "Generate Commit Standby Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel Random Phrase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Commit Cards": {
      "main": [
        [
          {
            "node": "One Device At A Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Commit Standby Message": {
      "main": [
        [
          {
            "node": "Replace Commit Card with Standby",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Standby Message": {
      "main": [
        [
          {
            "node": "Send Please Standby Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slack Message from Bot Mention": {
      "main": [
        [
          {
            "node": "Planning AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Commit?": {
      "main": [
        [
          {
            "node": "Explode Commit Cards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to message in thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One Device At A Time": {
      "main": [
        [],
        [
          {
            "node": "Send Commit Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Commit Agent JSON": {
      "main": [
        [
          {
            "node": "Send Commit Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planning Agent JSON": {
      "main": [
        [
          {
            "node": "Is Commit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Card Action": {
      "main": [
        [
          {
            "node": "Decision Is OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning AI Agent": {
      "main": [
        [
          {
            "node": "Parse Planning Agent JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Planning AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Replace Commit Card with Standby": {
      "main": [
        [
          {
            "node": "Commit And Verify AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Parse Slack Card Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Commit Card": {
      "main": [
        [
          {
            "node": "One Device At A Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Please Standby Message": {
      "main": [
        [
          {
            "node": "Get Slack Message from Bot Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When a Card is Clicked": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When your Slack bot is mentioned": {
      "main": [
        [
          {
            "node": "Generate Standby Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pyATS MCP - Full Mode": {
      "ai_tool": [
        [
          {
            "node": "Commit And Verify AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pyATS MCP - Read-only Mode": {
      "ai_tool": [
        [
          {
            "node": "Planning AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reasoning Memory (Planning)": {
      "ai_memory": [
        [
          {
            "node": "Planning AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reasoning Memory (Commit)": {
      "ai_memory": [
        [
          {
            "node": "Commit And Verify AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2e586eaf-d853-49c9-a4f0-3930d80fe274",
  "meta": {
    "instanceId": "50fb4d2f3360a0e82364e133321a88b55bc7b875b40069cddb631dad426c79a6"
  },
  "id": "V6ELACK5DFJvddKb",
  "tags": [
    {
      "updatedAt": "2026-05-25T15:48:31.571Z",
      "createdAt": "2026-05-25T15:48:31.571Z",
      "id": "GKwuy5bZ3mUz87X7",
      "name": "chatops"
    },
    {
      "updatedAt": "2026-05-25T15:48:31.564Z",
      "createdAt": "2026-05-25T15:48:31.564Z",
      "id": "RI2oyLHd5oNJTXhq",
      "name": "netops"
    },
    {
      "name": "slack",
      "id": "j5uO4Idd33FXRspp",
      "updatedAt": "2026-07-09T13:32:11.539Z",
      "createdAt": "2026-07-09T13:32:11.539Z"
    },
    {
      "name": "pyats",
      "id": "HYt7dtEvuTFWdinw",
      "updatedAt": "2026-07-09T13:32:15.131Z",
      "createdAt": "2026-07-09T13:32:15.131Z"
    }
  ]
}