workflows/Network Status Reports Workflow.json
{
  "name": "Network Status Reports Workflow",
  "nodes": [
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        592,
        224
      ],
      "id": "6532fa94-2b85-4f94-ab96-eed79eb05993",
      "name": "pyATS MCP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        0
      ],
      "id": "60a05cd5-13c0-46c5-a481-417e881f47c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "REPORT_QUERIES.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -496,
        192
      ],
      "id": "c92d30a7-9d3b-4a48-a47b-9f2109165b4c",
      "name": "Get the report queries file",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Split into lines\nconst lines = decodedContent.split('\\n');\n\n// Find the table header and data rows\nlet tableStartIndex = -1;\nfor (let i = 0; i < lines.length; i++) {\n  if (lines[i].includes('| ID |')) {\n    tableStartIndex = i;\n    break;\n  }\n}\n\n// Extract table rows (skip header and separator line)\nconst dataRows = lines.slice(tableStartIndex + 2).filter(line => line.trim().startsWith('|') && line.trim().length > 1);\n\n// Parse each row into JSON\nconst results = dataRows.map(row => {\n  // Split by | and clean up\n  const columns = row.split('|').map(col => col.trim()).filter(col => col.length > 0);\n  \n  return {\n    id: columns[0],\n    queryDescription: columns[1],\n    queryIntent: columns[2],\n    outputFileNamePrefix: columns[3],\n    notes: columns[4]\n  };\n});\n\n// Return array of objects\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        192
      ],
      "id": "1be70a77-721e-44aa-b90f-9645c5d35b70",
      "name": "Decode report queries file"
    },
    {
      "parameters": {
        "jsCode": "// Generate a random string\nconst length = 5; // adjust length as needed\nconst randomString = Math.random().toString(36).substring(2, 2 + length);\n\nreturn [{ json: { randomString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -176
      ],
      "id": "027a6679-f75f-4d1c-965d-8d5a7b8bff89",
      "name": "Random string for memory"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "=reports/{{ $('Consolidate reporting query').item.json.id }}_{{ $('Consolidate reporting query').item.json.outputFileNamePrefix }}_{{ $now}}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "={{ $('Consolidate reporting query').item.json.id }} report gen"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        848,
        96
      ],
      "id": "16c50c10-2035-49ac-b604-1fea0b0639bf",
      "name": "Create a report file",
      "webhookId": "e166c285-6ad1-4efd-a30c-0ea0eba19ff5",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        976,
        336
      ],
      "id": "21a736f4-9afc-44fc-a021-4afc2954c696",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "zZ9cfcWm91M5lQRP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "title": "=[{{ $('Consolidate ticketing query').item.json.report_tag }}] {{ $('Convert to JSON').item.json.title }}",
        "body": "={{ $('Convert to JSON').item.json.description }}\n\n📚 Reference report: {{ $('Consolidate ticketing query').item.json.report_url }}",
        "labels": [
          {
            "label": "={{ $('Consolidate ticketing query').item.json.report_tag }}"
          },
          {
            "label": "={{ $('Convert to JSON').item.json.priority }}"
          }
        ],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2384,
        -16
      ],
      "id": "df0345e5-09f9-4fc4-b8b2-0e582ea4617d",
      "name": "Create an issue",
      "webhookId": "0b777a2d-254b-4cf3-b721-9b1d79a1ab5e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.netauto_agent_prompt }}\n\nQuery: {{ $json.queryDescription }}\nIntent: {{ $json.queryIntent }}\nNotes: {{ $json.notes }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "9399a4fc-cdc3-4d17-a33b-6ed7417b15ce",
      "name": "Reports AI Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_report_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -496,
        0
      ],
      "id": "5e345431-54e3-44e5-b26d-832ebdf05f11",
      "name": "Get the report agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_ticketing_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -512,
        -368
      ],
      "id": "9ed08bf9-99e9-42be-aa4f-04301283c22f",
      "name": "Get the ticketing agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    netauto_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        0
      ],
      "id": "aea2474d-b5cc-403c-bc93-c0f9f30de64c",
      "name": "Decode report agent prompt"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    ticketing_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -368
      ],
      "id": "681a1e57-6436-4f9b-ac7a-55f56835d7e1",
      "name": "Decode ticketing agent prompt"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract the common fields (without id)\nconst randomString = items.find(item => item.json.randomString)?.json.randomString;\nconst netauto_agent_prompt = items.find(item => item.json.netauto_agent_prompt)?.json.netauto_agent_prompt;\n\n// Filter items that have an id field\nconst itemsWithId = items.filter(item => item.json.id);\n\n// Create output array with common fields added to each id-based item\nconst output = itemsWithId.map(item => ({\n  json: {\n    randomString,\n    netauto_agent_prompt,\n    ...item.json\n  }\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "9058f284-685a-4831-ac3d-48f1e3924524",
      "name": "Consolidate reporting query"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        -16
      ],
      "id": "ab21c905-8b9b-4566-9dd1-ab5f4fda05c7",
      "name": "Merge reports request"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -16
      ],
      "id": "52238d31-3fbc-4583-bafb-55bfff2425d6",
      "name": "Merge ticketing request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Merge all objects into a single object\nconst consolidated = items.reduce((acc, item) => {\n  return { ...acc, ...item.json };\n}, {});\n\nreturn [{ json: consolidated }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "id": "0ca78626-4a8a-4865-b691-c3291bc0074a",
      "name": "Consolidate ticketing query"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketing_agent_prompt }}\n\nReport: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1696,
        0
      ],
      "id": "b6a1d69c-4376-43ae-814f-edc1b31f1b66",
      "name": "Tickets AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ],
      "id": "d0f4fdca-7a7d-46cd-82e1-d493fd7b861c",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b388a2-943d-4801-b559-c51f2b077113",
              "leftValue": "={{ $json.create_issue }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2176,
        0
      ],
      "id": "3800bf9f-a795-4d6e-a10d-b39e3e84a7d9",
      "name": "Is there an issue?"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consolidate reporting query').item.json.id }}-{{ $('Consolidate reporting query').item.json.randomString }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "02c06763-5372-4da7-9e5b-8b46cf9f5c05",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Return the file data\nreturn {\n  json: {\n    report_url: $input.first().json.content.html_url,\n    report_tag: $input.first().json.commit.message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        96
      ],
      "id": "269148c8-d4d0-43f1-aeb5-7257a035cdd2",
      "name": "Get report URL and tag"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consolidate ticketing query').item.json.report_tag }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1792,
        192
      ],
      "id": "445935fe-947e-4fec-b499-46822f1e0511",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "pyATS MCP": {
      "ai_tool": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get the report queries file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Random string for memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report queries file": {
      "main": [
        [
          {
            "node": "Decode report queries file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report queries file": {
      "main": [
        [
          {
            "node": "Merge reports request",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Random string for memory": {
      "main": [
        [
          {
            "node": "Merge reports request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tickets AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a report file": {
      "main": [
        [
          {
            "node": "Get report URL and tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reports AI Agent": {
      "main": [
        [
          {
            "node": "Create a report file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ticketing request",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get the report agent prompt": {
      "main": [
        [
          {
            "node": "Decode report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Decode ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report agent prompt": {
      "main": [
        [
          {
            "node": "Merge reports request",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Decode ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Merge ticketing request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate reporting query": {
      "main": [
        [
          {
            "node": "Reports AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge reports request": {
      "main": [
        [
          {
            "node": "Consolidate reporting query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ticketing request": {
      "main": [
        [
          {
            "node": "Consolidate ticketing query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate ticketing query": {
      "main": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets AI Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Is there an issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there an issue?": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get report URL and tag": {
      "main": [
        [
          {
            "node": "Merge ticketing request",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa4812b3-8fd6-4a70-a537-b4df37db95e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f95a6d7c5968444f45272482757da1c4af9eab1c616e03caeb555b7e9b38b575"
  },
  "id": "CnykD4HQd0kyU2BO",
  "tags": [
    {
      "updatedAt": "2026-01-09T19:19:55.385Z",
      "createdAt": "2026-01-09T19:19:55.385Z",
      "id": "Q4fzxfRmPfeL2AFL",
      "name": "reporting"
    },
    {
      "updatedAt": "2026-01-09T19:19:59.971Z",
      "createdAt": "2026-01-09T19:19:59.971Z",
      "id": "xKlzjEvsKsefGfkD",
      "name": "netops"
    }
  ]
}