workflows/Network Status Reports Workflow.json
{
  "name": "Network Status Reports Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        256
      ],
      "id": "dbb1512a-8395-4a8b-8285-b9db8f566a7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "=reports/files/{{ $('Consolidate report query').item.json.file_prefix }}_{{ $now}}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "={{ $('Consolidate report query').item.json.file_prefix }} report gen"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1312,
        464
      ],
      "id": "56b6c24f-55fb-4203-b761-b905bd67ab6c",
      "name": "Create a report file",
      "webhookId": "e166c285-6ad1-4efd-a30c-0ea0eba19ff5",
      "credentials": {
        "githubApi": {
          "id": "pYcGzfUmuhbDWuN1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "title": "=[{{ $('Consolidate ticketing query').item.json.report_tag }}] [{{ $('Convert to JSON').item.json.priority }}] {{ $('Convert to JSON').item.json.title }}",
        "body": "={{ $('Convert to JSON').item.json.description }}\n\n📚 Reference report: {{ $('Consolidate ticketing query').item.json.report_url }}",
        "labels": [
          {
            "label": "={{ $json.priority }}"
          }
        ],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2864,
        352
      ],
      "id": "594d0b99-507a-4835-aa93-2dc9beef4043",
      "name": "Create an issue",
      "webhookId": "0b777a2d-254b-4cf3-b721-9b1d79a1ab5e",
      "credentials": {
        "githubApi": {
          "id": "pYcGzfUmuhbDWuN1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_report_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        176
      ],
      "id": "2ad1b8e5-ad11-4417-8f97-64b63e87f20b",
      "name": "Get the report agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "pYcGzfUmuhbDWuN1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_ticketing_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "98f45390-4806-472e-b343-7205af595d74",
      "name": "Get the ticketing agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "pYcGzfUmuhbDWuN1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    netauto_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "034a1d3b-dd87-45f2-8037-4b54f429f730",
      "name": "Decode report agent prompt"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    ticketing_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "45f0ad22-ecdd-40a8-9319-70a7fb85a0c1",
      "name": "Decode ticketing agent prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketing_agent_prompt }}\n\nReport: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2160,
        368
      ],
      "id": "78f74184-ed87-4f1f-a92b-0785c5638eac",
      "name": "Tickets AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        368
      ],
      "id": "2d8e961e-e3db-43c5-bc8d-c8eaeb09ee3d",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b388a2-943d-4801-b559-c51f2b077113",
              "leftValue": "={{ $json.create_issue }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        368
      ],
      "id": "5f9e3259-4876-4bd9-bbf8-4cee8098ccfa",
      "name": "Is there an issue?"
    },
    {
      "parameters": {
        "jsCode": "// Return the files data\nconst items = $input.all();\n\nconst output = items.map(item => {\n  return {\n    json: {\n      report_url: item.json.content.html_url,\n      report_tag: item.json.commit.message\n    }\n  };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        464
      ],
      "id": "1af654dd-7cea-4932-9dbc-7c330731ff5f",
      "name": "Get report URL and tag"
    },
    {
      "parameters": {
        "jsCode": "//Random string for session IDs in memory\nreturn [{\n  json: {\n    executionId: Math.random().toString(36).substring(2, 9)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        560
      ],
      "id": "8998cab4-23f3-4525-9945-a53cd5f482de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "reports/interfaces_status.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        368
      ],
      "id": "4f2cc726-620f-479d-b8c5-940395815525",
      "name": "Get the report query file",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "pYcGzfUmuhbDWuN1",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1440,
        736
      ],
      "id": "c0cd1681-5b6e-4d55-8d6e-2e9066ecb5a9",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "LvYQgi9Wof3mvquf",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consolidate report query').item.json.executionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        576
      ],
      "id": "5f813c8b-ce92-4634-babd-c0af7db194fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1072,
        576
      ],
      "id": "8bbb386f-56b4-4ae1-af4e-e0cb736a68cc",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.netauto_agent_prompt }}\n\n- Query: {{ $json.query }}\n- Intent: {{ $json.intent }}\n- Notes: {{ $json.notes }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        912,
        368
      ],
      "id": "9d39e352-7cc5-42ee-b4fe-fcb1531e834a",
      "name": "Reports AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst text = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Ensure it's a string\nconst raw = typeof text === 'string' ? text : JSON.stringify(text);\n\n// Split into lines\nconst lines = raw.split('\\n');\n\n// Object to store parsed fields\nconst result = {};\n\nfor (const line of lines) {\n  // Match pattern: - Key: Value\n  const match = line.match(/-\\s*(.+?):\\s*(.+)/);\n  if (match) {\n    const key = match[1]\n      .trim()\n      .toLowerCase()\n      .replace(/\\s+/g, '_'); // e.g. \"File Prefix\" → \"file_prefix\"\n\n    const value = match[2].trim();\n    result[key] = value;\n  }\n}\n\n// Return as JSON\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        368
      ],
      "id": "dbe572c4-ab4e-4812-8637-3fbba3cc29b2",
      "name": "Decode report query file"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        352
      ],
      "id": "eeb2b093-bc81-48c1-bb38-548083d34e3d",
      "name": "Merge report query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        368
      ],
      "id": "34fa023e-6146-45ac-bc98-3075ee7c1071",
      "name": "Consolidate report query"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        352
      ],
      "id": "90c2eb4f-0b87-4e6e-a2d0-b189ee134f2e",
      "name": "Merge ticketing query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        368
      ],
      "id": "df297498-5616-435e-9b9d-e7881f575227",
      "name": "Consolidate ticketing query"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get the report query file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the ticketing agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a report file": {
      "main": [
        [
          {
            "node": "Get report URL and tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report agent prompt": {
      "main": [
        [
          {
            "node": "Decode report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Decode ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report agent prompt": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets AI Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Is there an issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there an issue?": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get report URL and tag": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get the report query file": {
      "main": [
        [
          {
            "node": "Decode report query file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tickets AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reports AI Agent": {
      "main": [
        [
          {
            "node": "Create a report file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Decode report query file": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge report query data": {
      "main": [
        [
          {
            "node": "Consolidate report query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate report query": {
      "main": [
        [
          {
            "node": "Reports AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ticketing query data": {
      "main": [
        [
          {
            "node": "Consolidate ticketing query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate ticketing query": {
      "main": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4145b4bd-e642-440c-9b87-8b16df4b6b07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c6782a8991552b2596e234b16c212cb221496b90c83d7b5aa043c96cb370b73"
  },
  "id": "HYBAS7DXRHq2YnkQ",
  "tags": [
    {
      "name": "netops",
      "id": "0xEVorz40AcWYNDC",
      "createdAt": "2026-01-13T17:46:25.171Z",
      "updatedAt": "2026-01-13T17:46:25.171Z"
    },
    {
      "name": "reporting",
      "id": "xr9hPS61dWvLrGhl",
      "createdAt": "2026-01-13T17:46:25.154Z",
      "updatedAt": "2026-01-13T17:46:25.154Z"
    }
  ]
}