workflows/Network Status Reports Workflow.json
{
  "name": "Network Status Reports Workflow",
  "nodes": [
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        592,
        240
      ],
      "id": "6532fa94-2b85-4f94-ab96-eed79eb05993",
      "name": "pyATS MCP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        112
      ],
      "id": "60a05cd5-13c0-46c5-a481-417e881f47c6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst text = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Ensure it's a string\nconst raw = typeof text === 'string' ? text : JSON.stringify(text);\n\n// Split into lines\nconst lines = raw.split('\\n');\n\n// Object to store parsed fields\nconst result = {};\n\nfor (const line of lines) {\n  // Match pattern: - Key: Value\n  const match = line.match(/-\\s*(.+?):\\s*(.+)/);\n  if (match) {\n    const key = match[1]\n      .trim()\n      .toLowerCase()\n      .replace(/\\s+/g, '_'); // e.g. \"File Prefix\" → \"file_prefix\"\n\n    const value = match[2].trim();\n    result[key] = value;\n  }\n}\n\n// Return as JSON\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        224
      ],
      "id": "1be70a77-721e-44aa-b90f-9645c5d35b70",
      "name": "Decode report queries file"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "=reports/{{ $('Consolidate reports queries').item.json.id }}_{{ $('Consolidate reports queries').item.json.outputFileNamePrefix }}_{{ $now}}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "={{ $('Consolidate reports queries').item.json.id }} report gen"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        848,
        96
      ],
      "id": "16c50c10-2035-49ac-b604-1fea0b0639bf",
      "name": "Create a report file",
      "webhookId": "e166c285-6ad1-4efd-a30c-0ea0eba19ff5",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        816,
        320
      ],
      "id": "21a736f4-9afc-44fc-a021-4afc2954c696",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "zZ9cfcWm91M5lQRP",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "title": "=[{{ $('Consolidate ticketing queries').item.json.report_tag }}] [{{ $('Convert to JSON').item.json.priority }}] {{ $('Convert to JSON').item.json.title }}",
        "body": "={{ $('Convert to JSON').item.json.description }}\n\n📚 Reference report: {{ $('Consolidate ticketing queries').item.json.report_url }}",
        "labels": [
          {
            "label": "={{ $('Consolidate ticketing queries').item.json.report_tag }}"
          }
        ],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2384,
        -16
      ],
      "id": "df0345e5-09f9-4fc4-b8b2-0e582ea4617d",
      "name": "Create an issue",
      "webhookId": "0b777a2d-254b-4cf3-b721-9b1d79a1ab5e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.netauto_agent_prompt }}\n\nQuery: {{ $json.query }}\nIntent: {{ $json.intent }}\nNotes: {{ $json.notes }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "9399a4fc-cdc3-4d17-a33b-6ed7417b15ce",
      "name": "Reports AI Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_report_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -464,
        32
      ],
      "id": "5e345431-54e3-44e5-b26d-832ebdf05f11",
      "name": "Get the report agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "agents/network_ticketing_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -464,
        -144
      ],
      "id": "9ed08bf9-99e9-42be-aa4f-04301283c22f",
      "name": "Get the ticketing agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    netauto_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        32
      ],
      "id": "aea2474d-b5cc-403c-bc93-c0f9f30de64c",
      "name": "Decode report agent prompt"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    ticketing_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -144
      ],
      "id": "681a1e57-6436-4f9b-ac7a-55f56835d7e1",
      "name": "Decode ticketing agent prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketing_agent_prompt }}\n\nReport: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1696,
        0
      ],
      "id": "b6a1d69c-4376-43ae-814f-edc1b31f1b66",
      "name": "Tickets AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ],
      "id": "d0f4fdca-7a7d-46cd-82e1-d493fd7b861c",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b388a2-943d-4801-b559-c51f2b077113",
              "leftValue": "={{ $json.create_issue }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2176,
        0
      ],
      "id": "3800bf9f-a795-4d6e-a10d-b39e3e84a7d9",
      "name": "Is there an issue?"
    },
    {
      "parameters": {
        "jsCode": "// Return the files data\nconst items = $input.all();\n\nconst output = items.map(item => {\n  return {\n    json: {\n      report_url: item.json.content.html_url,\n      report_tag: item.json.commit.message\n    }\n  };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        96
      ],
      "id": "269148c8-d4d0-43f1-aeb5-7257a035cdd2",
      "name": "Get report URL and tag"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        208
      ],
      "id": "ab21c905-8b9b-4566-9dd1-ab5f4fda05c7",
      "name": "Merge reports queries"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "9058f284-685a-4831-ac3d-48f1e3924524",
      "name": "Consolidate reports queries"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -16
      ],
      "id": "52238d31-3fbc-4583-bafb-55bfff2425d6",
      "name": "Merge ticketing queries"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract the ticketing agent prompt (same for all)\nconst ticketingAgentPrompt = items.find(item => item.json.ticketing_agent_prompt)?.json.ticketing_agent_prompt;\n\n// Get outputs and extract their IDs\nconst outputs = items.filter(item => item.json.output).map(item => {\n  // Extract ID from \"**Report ID: XYZ**\" pattern\n  const idMatch = item.json.output.match(/\\*\\*Report ID:\\s*([^\\*\\n]+)\\*\\*/);\n  const id = idMatch ? idMatch[1].trim() : null;\n  return {\n    id: id,\n    output: item.json.output\n  };\n});\n\n// Get report URLs and their tags (which contain the ID)\nconst reportUrls = items.filter(item => item.json.report_url).map(item => {\n  return {\n    id: item.json.report_tag, // \"R-01\", \"R-02\", etc.\n    url: item.json.report_url,\n    tag: item.json.report_tag\n  };\n});\n\n// Merge by ID\nconst consolidated = outputs.map(outputItem => {\n  // Find matching report URL by ID\n  const matchingReport = reportUrls.find(report => report.id === outputItem.id);\n  \n  return {\n    json: {\n      id: outputItem.id,\n      ticketing_agent_prompt: ticketingAgentPrompt,\n      output: outputItem.output,\n      report_url: matchingReport?.url || '',\n      report_tag: matchingReport?.tag || ''\n    }\n  };\n});\n\nreturn consolidated;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        0
      ],
      "id": "0ca78626-4a8a-4865-b691-c3291bc0074a",
      "name": "Consolidate ticketing queries"
    },
    {
      "parameters": {
        "jsCode": "//Random string for session IDs in memory\nreturn [{\n  json: {\n    executionId: Math.random().toString(36).substring(2, 9)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        464
      ],
      "id": "23bada34-39ea-4913-a1a5-366eee429cd4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "pyATS-loves-agenticops",
          "mode": "list",
          "cachedResultName": "pyATS-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/pyATS-loves-agenticops"
        },
        "filePath": "reports/interface_status.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -464,
        224
      ],
      "id": "c92d30a7-9d3b-4a48-a47b-9f2109165b4c",
      "name": "Get the report query file",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "0hUUykrDrQ4DEkEl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.executionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        240
      ],
      "id": "650a8b94-8280-48ac-8838-7b0750162377",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "pyATS MCP": {
      "ai_tool": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get the report query file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the ticketing agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report queries file": {
      "main": [
        [
          {
            "node": "Merge reports queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tickets AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a report file": {
      "main": [
        [
          {
            "node": "Get report URL and tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reports AI Agent": {
      "main": [
        [
          {
            "node": "Create a report file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ticketing queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get the report agent prompt": {
      "main": [
        [
          {
            "node": "Decode report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Decode ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report agent prompt": {
      "main": [
        [
          {
            "node": "Merge reports queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Merge ticketing queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets AI Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Is there an issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there an issue?": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get report URL and tag": {
      "main": [
        [
          {
            "node": "Merge ticketing queries",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge reports queries": {
      "main": [
        [
          {
            "node": "Consolidate reports queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate reports queries": {
      "main": [
        [
          {
            "node": "Reports AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ticketing queries": {
      "main": [
        [
          {
            "node": "Consolidate ticketing queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate ticketing queries": {
      "main": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge reports queries",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get the report query file": {
      "main": [
        [
          {
            "node": "Decode report queries file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e19d11f1-bd7a-4aa8-98a4-02ae41b0b8e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f95a6d7c5968444f45272482757da1c4af9eab1c616e03caeb555b7e9b38b575"
  },
  "id": "CnykD4HQd0kyU2BO",
  "tags": [
    {
      "createdAt": "2026-01-09T19:19:55.385Z",
      "updatedAt": "2026-01-09T19:19:55.385Z",
      "id": "Q4fzxfRmPfeL2AFL",
      "name": "reporting"
    },
    {
      "createdAt": "2026-01-09T19:19:59.971Z",
      "updatedAt": "2026-01-09T19:19:59.971Z",
      "id": "xKlzjEvsKsefGfkD",
      "name": "netops"
    }
  ]
}